body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

.div1{
    margin-left: 110px;
}
.solde{
    border-radius: 3px 20px 3px 40px ;
    height: 60px;
}

.div2{
       margin-left:110px;  
}
.depense{
    border-radius: 3px 20px 3px 40px ;
    height: 60px;
}

.div3{
   
    margin-left: 110px;
}
.budget{
    border-radius: 3px 20px 3px 40px ;
    height: 60px;
    
}

.div-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}
.container{
   border: 3px solid black;
   border-radius: 10px 30px 0px 50px;
   width: 70%;
   height: 800px;
   margin-left: 180px;
  background-color: rgb(121, 7, 51);
   margin-top: 50px;

  
}
.p2{
    margin-left: 650px;
}
/* ici commence la partie 2 */
table {
    border-collapse: collapse;
    margin: auto;
    height: 150px;
}

td {
    border: 1px solid black;
    width: 20%;
}
th{
    border: 1px solid black;
    width: 20%; 
}
.div-parent2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}
.h4{
    margin-left: 100px;
}
.ajout{
    margin-left:350px;
    border-radius: 20px;
    height: 40px;
    background-color: aqua;
}
.div-parent3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}
.h-4{
    margin-left: 100px;
}
.ajout1{
    margin-left:350px;
    border-radius: 20px;
    height: 40px;
    background-color: aqua;
}
/* partie 3 */
.container1{
    border: 3px solid black;
    border-radius: 10px ;
    width: 25%;
    height: 300px;
    margin-left: 180px;
    margin-bottom: 40px;
    background-color: rgb(206, 206, 216);
}
h3{
margin-left: 100px;
}
.table1{
    height: 100px;
   
    
}
.p{
  margin-left:225px;
  border-radius: 10px;
    height: 35px;
    width: 65px;
    background-color: rgb(163, 23, 109);
    margin-top: 23px; 
   
}
.h3{
    margin-left: 300;

}
/* partie4 */
.container2{
    border: 3px solid black;
    border-radius: 10px ;
    width: 25%;
    height: 300px;
    margin-left: 180px;
    margin-bottom: 40px;
    background-color: rgb(206, 206, 216);
}  
.table2{
    height: 100px;
   
    
}
.p1{
  margin-left: 225px;
  border-radius: 10px;
    height: 35px;
    width: 65px;
    background-color: rgb(163, 23, 109);
    margin-top: 23px;
     
}
.div-parent4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
   
   
}
.container1{
    margin-left: 70px;
    margin-top: 50px;
   
   
    
}
.container2{
    margin-left: 250px;
    margin-top: 50px;
   
   
   
   
    
}